{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}元宇宙虛擬土地申購{% endblock title%}

{% block content%}
<div class="position-absolute top-50 start-50 translate-middle">
    <img class="index_pic" src="{{ url_for('static', filename='./img/land-metaverse.png') }}">
    <h1 class="index_title">元宇宙虛擬土地申購</h1>
    <div class="btn_div">
        <a href="{{ url_for('api.register') }}">
            <button class="index_btn">註冊</button>
        </a>
        <a href="{{ url_for('api.login') }}">
            <button class="index_btn">登入</button>
        </a>
    </div>
</div>
{% endblock content%}